@import './reset.scss';
@import './variable.scss';
@import './mixin.scss';
@import '//at.alicdn.com/t/font_1858104_sx2tvf3xrua.css';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  // 解决IScroll拖拽卡顿问题
  touch-action: none;
}
body {
  @include font_size($m);
  font-family: 'PingFang SC', Helvetica, sans-serif, STHeiTi;
  color: #333;
}
img {
  vertical-align: bottom;
}
a {
  color: #333;
}

input {
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
